<div id="ModalTeam" class="modal fade" tabindex="-1"
     role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
  <div class="modal-vcenter">
    <div class="modal-dialog">
      <div class="modal-content" style="width:45%;">
        <div class="modal-header"
             style="background-color: #337ab7; color: #fff;">
          <button type="button" class="close"
                  data-dismiss="modal" aria-hidden="true">
            &times;
          </button>
          <h4 class="modal-title"></h4>
        </div>
        <div class="modal-body" style="max-height: 500px;">
	  <form class="form" role="form" method="POST">
            <fieldset id="fieldset">
              <input class="col-md-12 form-control-static hidden" id="id">
              <div class="row">
                <div class="col-md-8 form-group">
                  <label class="control-label" for="name">
		    <i class="fa fa-fw fa-info"></i>
                    Name (*)
                  </label>
                  <input type="text" class="form-control" id="name"/>
                </div>
		<div class="col-md-4 form-group">
                  <label class="control-label" for="customer">
		    <i class="fa fa-fw fa-id-card"></i>
                    Customer (*)
                  </label>
                  <select class="selectpicker show-tick form-control"
                          id="customer" name="customer" title="..."
                          data-live-search="true">
                  </select>
                </div>
	      </div>
              <div class="row row-eq-height">
		<div class="col-xs-6 col-md-8">
		  <label class="control-label" for="description">
		    <i class="fa fa-info fa-fw"></i>
		    Description
		  </label>
		  <textarea id="description" class="form-control" rows="12"
			    spellcheck="true" wrap="soft"
			    style="resize:none;overflow-x:hidden;word-wrap:break-word"
			    ></textarea>
		</div>
		<div class="col-xs-12 col-md-4">
		  <div class="col-md-12 form-group" style="padding:0px;">
                    <label class="control-label" for="manager">
		      <i class="fa fa-fw fa-id-badge"></i>
                      Manager (*)
                    </label>
                    <select class="selectpicker show-tick form-control"
                            id="manager" name="manager" title="..."
                            data-live-search="true" data-container="body">
                    </select>
		  </div>
		  <div class="col-md-12 form-group" style="padding:0px;">
                    <label class="control-label" for="date_start">
		      <i class="fa fa-fw fa-calendar"></i>
                      Start
                    </label>
		    <div class="input-group">
		      <span class="input-group-addon">
			<i class="fa fa-fw fa-calendar"></i>
		      </span>
		      <input type="text" class="form-control select-date"
                             id="date_start" name="date_start" data-date-format="YYYY/MM/DD">
                    </div>
		  </div>		
		  <div class="col-md-12 form-group" style="padding:0px;">
                    <label class="control-label" for="date_end">
		      <i class="fa fa-fw fa-calendar"></i>
                      Due
                    </label>
		    <div class="input-group">
		      <span class="input-group-addon">
			<i class="fa fa-fw fa-calendar"></i>
		      </span>
		      <input type="text" class="form-control select-date"
                             id="date_end" name="date_end" data-date-format="YYYY/MM/DD">
                    </div>
		  </div>
		  <div class="col-md-12 form-group" style="padding:0px;">
                    <label class="control-label" for="parent">
		      <i class="fa fa-fw fa-briefcase"></i>
                      Parent
                    </label>
                    <select class="selectpicker show-tick form-control"
                            id="parent" name="parent"
                            data-live-search="true" title="...">
                    </select>
		  </div>		  
		</div>
	      </div>
            </fieldset>
          </form>
        </div>
        <div class="modal-footer">
          <div class="pull-right">
            <button type="button" class="btn btn-default"
                    data-dismiss="modal">
              Close
            </button>
            <button type="button" class="btn btn-primary" id="project-save">
              Save
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
