{% extends "base.html" %}

{% block title %}Administration - Projects{% endblock %}

{% block base %}
<ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
  <li class="active">
    <a data-toggle="tab" href="#providers">
      <i class="fa fa-fw fa-industry"></i>
      Providers
    </a>
  </li>
  <li>
    <a data-toggle="tab" href="#payments">
      <i class="fa fa-fw fa-money"></i>
      Payments
    </a>
  </li>    
</ul>
<div class="tab-content">
  <div id="providers" class="tab-pane fade in active">
    <div id="toolbar-providers">
      <button class="btn btn-default" type="button" data-toggle="modal"
	      data-target="#ModalProvider" aria-haspopup="true"
	      aria-expanded="false">
	<i class="fa fa-fw fa-plus"></i>
      </button>
    </div>
    <table id="table-providers" data-show-toggle="false"
	   data-show-export="false" data-row-style="rowStyle"
	   data-show-columns="true" data-show-multi-sort="true"
	   data-sort-name="name" data-pagination="true"
	   data-toggle="table" data-search="true"
	   data-toolbar="#toolbar-providers"
	   data-show-footer="false" data-page-size="50" data-escape="false"
	   class="table table-hover table-striped table-compact 
		  table-condensed table-autosize">
      <thead>
	<tr>
	  <th data-align="center" data-valign="middle" data-field="status"
	      data-sortable="true" data-visible="false" data-checkbox="true">
	    <i class="fa fa-fw fa-question"></i>
	    Status
	  </th>    
	  <th data-halign="center" data-valign="middle" data-field="name"
	      data-align="center" data-sortable="true">
	    <i class="fa fa-fw fa-sort-amount-desc"></i>	    
	    Name
	  </th>
	  <th data-align="center" data-valign="middle" data-sortable="true"
	      data-field="type">
	    <i class="fa fa-fw fa-cloud"></i>
	    Type
	  </th>
	  <th data-halign="center" data-valign="middle" data-field="owner"
	      data-align="left">
	    <i class="fa fa-fw fa-user"></i>
	    Owner
	  </th>
	  <th data-align="center" data-valign="middle" data-field="payment">
	    <i class="fa fa-fw fa-money"></i>
	    Payments
	  </th>
	  <th data-align="center" data-valign="middle">
	    <i class="fa fa-fw fa-cogs" aria-hidden="true"></i>
	    Actions
	  </th>
	</tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
  <div id="payments" class="tab-pane fade in">
    <div id="toolbar-payments">
      <button class="btn btn-default" type="button" data-toggle="modal"
	      data-target="#ModalPayment" aria-haspopup="true"
	      aria-expanded="false">
	<i class="fa fa-fw fa-plus"></i>
      </button>
    </div>
    <table id="table-payments" data-show-toggle="false"
	   data-show-export="false" data-row-style="rowStyle"
	   data-show-columns="true" data-show-multi-sort="true"
	   data-sort-name="date" data-pagination="true"
	   data-toggle="table" data-search="true"
	   data-toolbar="#toolbar-payments" data-sort-order="desc"
	   data-show-footer="false" data-page-size="50" data-escape="false"
	   class="table table-hover table-striped table-compact 
		  table-condensed table-autosize">
      <thead>
	<tr>
	  <th data-halign="center" data-valign="middle" data-field="date"
	      data-align="center" data-sortable="true">
	    <i class="fa fa-fw fa-calendar"></i>	    
	    Date
	  </th>
	  <th data-halign="center" data-valign="middle"
	      data-align="left" data-field="provider">
	    <i class="fa fa-fw fa-user"></i>
	    Provider
	  </th>
	  <th data-align="center" data-valign="middle" data-sortable="true"
	      data-field="invoice">
	    <i class="fa fa-fw fa-inbox"></i>
	    Invoice
	  </th>
	  <th data-halign="center" data-valign="middle"
	      data-align="right" data-field="amount">
	    <i class="fa fa-fw fa-money"></i>
	    Amount
	  </th>
	  <th data-align="center" data-valign="middle">
	    <i class="fa fa-fw fa-cogs" aria-hidden="true"></i>
	    Actions
	  </th>
	</tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>  
</div>
{% endblock %}

{% block scripts %}
<link href="//cdn.corpam.com.ar/bootstrap-table/stable/bootstrap-table.css" rel="stylesheet">
<script src="//cdn.corpam.com.ar/bootstrap-table/stable/bootstrap-table.js"></script>
<link href="//cdn.corpam.com.ar/bootstrap-select/stable/css/bootstrap-select.min.css" rel="stylesheet">
<script src="//cdn.corpam.com.ar/bootstrap-select/stable/js/bootstrap-select.min.js"></script>
<script src="//cdn.corpam.com.ar/moment/stable/js/moment.min.js"></script>
<link href="//cdn.corpam.com.ar/bootstrap-datetimepicker/stable/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
<script src="//cdn.corpam.com.ar/bootstrap-datetimepicker/stable/js/bootstrap-datetimepicker.min.js"></script>
<script>
    $(document).ready(function () {
	autosize_tables();
	$(window).resize(function () {
	    autosize_tables();
	});
	$('.modal').on('hidden.bs.modal', function(){
	    $('.modal').find('.modal-title').html('New');
	    var forms = $(this).find('form');
	    forms.each(function(row){
		forms[row].reset();
	    });
	    var selectpickers = $(this).find('.selectpicker');
	    selectpickers.each(function(row){
		$(selectpickers[row]).selectpicker('refresh');
	    });
	});
	$(".select-date").datetimepicker({
	    showTodayButton: true,
	    showClose: true,
	    format: 'YYYY/MM/DD',
	});    
	jqlisteners();
    });
{% include "js/common.js" %}
function rowStyle(row, index) {
    if ( row['status'] == 'False' ) {
    	return {
    	    css: {"text-decoration": "line-through"}
    	};
    } else {
	return {
	    css: {"text-decoration": "none"}
	};
    }
}
function jqlisteners() {
    console.log("jqlisteners!");
}
</script>
{% endblock %}
