{% extends "base.html" %}

{% block title %}Customers{% endblock %}

{% block body %}
<div class="customers-header section-header">
  <div class="title">
    <i class="fa fa-fw fa-id-card" aria-hidden="true"></i>
    Customers
  </div>
</div>
<div class="customers-content section-content" style="padding: 0% 1%;">
  <div id="customers-toolbar" class="toolbar" style="max-height: 10%;padding: 0.5% 0%;">
    <button class="btn btn-primary" type="button" data-toggle="modal"
	    id="customer-new" aria-haspopup="true" aria-expanded="false">
      <i class="fa fa-fw fa-plus"></i>
    </button>
  </div>
  <table id="customers-table"
         data-show-toggle="false" data-show-export="false"
         data-show-columns="false" data-show-multi-sort="true"
         data-sort-name="id" data-pagination="true"
         data-toggle="table" data-search="true"
         data-show-footer="false" data-page-size="50"
         data-escape="false" data-side-pagination="server"
	 data-query-params="CustomersParams"
	 data-show-refresh="true" data-show-header="true"
	 data-url="{{ url_for('api_customers_all') }}?"
	 data-response-handler="CustomersResponseHandler"
	 data-toolbar="#customers-toolbar"
	 data-reorderable-columns="true" data-show-pagination-switch="true"
	 data-detail-view="true"
	 data-detail-formatter="CustomersDetailFormatter"
         class="table-hover table-striped table-compact table-responsive
                table-condensed table-autosize">
    <thead>
      <tr>
	<th data-field="id" data-align="center" title="ID"
	    data-sortable="true" data-valign="middle" data-visible="false">
	  #
	</th>
        <th data-field="name" data-valign="middle"
	    data-align="center" data-sortable="true"
	    data-formatter="CustomersFormatterName">
          <i class="fa fa-fw fa-id-card"></i>
          Customer
        </th>
        <th data-field="actions" data-align="center" 
	    data-valign="middle"
	    data-formatter="CustomersFormatterActions">
          <i class="fa fa-cogs fa-fw"></i>
          Actions
        </th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>
{% endblock %}

{% block modals %}
{% include "modals/customer.html" %}
{% endblock %}

{% block scripts %}
<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js"></script>

<link href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.css" rel="stylesheet">
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.js"></script>

<script src="/pichai/static/extras/bootstrap-confirmation/js/bootstrap-confirmation.min.js"></script>

<link href="/pichai/static/extras/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet">
<script src="/pichai/static/extras/bootstrap-select/js/bootstrap-select.min.js"></script>

<script>
    $(document).ready(function () {
	$(window).resize(function () {
            autosize_tables();
	    jqlisteners();
	});
	autosize_tables();
	jqlisteners();
    });
{% include "js/common.js" %}
function jqlisteners() {
    $("#customer-new").unbind();
    $("#customer-new").click(function(e) {
	e.preventDefault();
	var modal = "#ModalCustomer";
	$(modal).find('.modal-title').html("Customer: New");
        $(modal).modal('show');
    });
    $(".customer-open").confirmation({
	onConfirm: function(e) {
	    var customer = $(this).attr('customer');
	    window.open(
		"{{ url_for('customers') }}/" + customer,
		'_blank');
	},
	placement: 'left',
	btnOkLabel: 'Yes',
	btnOkClass: 'btn btn-sm btn-primary',
	btnOkIcon: 'fa fa-fw fa-check',
	btnCancelLabel: 'No',
	btnCancelClass: 'btn btn-sm btn-danger',
	btnCancelIcon: 'fa fa-fw fa-remove',
    });
}
function CustomersParams(params) {
    return params
}
function CustomersResponseHandler(res) {
    var data = [];
    for(r in res.data) {
	var row = res.data[r];
	data.push({
	    id: row.id,
	    name: row.name,
	    logo: row.logo,
	    notes: row.notes,
	    contact: row.contact,
	    projects: 0,
	    changes: 0,
	});
    };
    return {
	total: res.total,
	rows: data,
    }
}
function CustomersFormatterName(value, row) {
    html = '<img class="fa fa-fw img-circle" src="' + row.logo + '"/> ';
    html+= row.name;
    return html;
}
function CustomersFormatterActions(value, row) {
    html ='<a class="customer-open" data-toggle="confirmation" ';
    html+=' data-customer="'+row.id+'" data-container="body" href="#open">';
    html+=' <i class="fa fa-fw fa-search"></i>';
    html+='</a>';
    html+='<a class="customer-export" data-toggle="confirmation" ';
    html+=' data-customer="'+row.id+'" data-container="body" href="#export">';
    html+=' <i class="fa fa-fw fa-file-archive-o"></i>';
    html+='</a>';
    html+='<a class="customer-delete" data-toggle="confirmation" ';
    html+=' data-customer="'+row.id+'" data-container="body" href="#delete">';
    html+=' <i class="fa fa-fw fa-trash"></i>';
    html+='</a>';
    return html;
}
function CustomersDetailFormatter(index, row) {
    html ='<div class="table-detail-row list-group-item row">'
    html+=' <a class="table-detail-link" href="{{ url_for("customers") }}/';
    html+=  row['id'] + '"></a>';
    html+=' <div class="col-md-2">';
    html+='<img class="img-circle" src="' + row['logo'] + '" ';
    html+='style="position: relative;height:125px;left:50%;transform:translateX(-50%);padding:1%;width:125px;"/>';
    html+=' </div>';
    html+=' <div class="col-md-7">';
    html+='  <h2 class="list-group-item-heading">' + row['name'] + '</h2>';
    html+='  <p class="list-group-item-text">' + row['notes'] + '</p>';
    html+=' </div>';
    html+=' <div class="col-md-3 text-center">';
    html+='  <h4 style="margin:2%;">';
    html+=    row['projects'] + ' <small>Projects</small>';
    html+='  </h4>';
    html+='  <h4 style="margin: 2%;">';
    html+=    row['changes'] + ' <small>Changes</small>';
    html+='  </h4>';
    html+=' </div>';
    html+='</div>';
    return html;
}
</script>
{% endblock %}
