{% extends "base.html" %}

{% block title %}Invoice #{{ invoice.id }}{% endblock %}

{% block body %}
<div class="invoice-header section-header">
  <div class="title">
    <i class="fa fa-fw fa-book" aria-hidden="true"></i>
    Invoice: #{{ invoice.id }}
  </div>
  <div class="toolbar">
    <a id="invoice-print" href="#invoice-print" class="button"
       data-toggle="confirmation" data-container="body"
       style="padding: 0% 2%;outline: none;text-decoration:none;">
      <i class="fa fa-2x fa-print" aria-hidden="true"></i>
    </a>    
    <a id="change-load" href="#change-load" class="disabled" 
       data-id="{{ invoice.id }}"
       style="padding: 0% 2%;outline: none;text-decoration:none;">
      <i class="fa fa-2x fa-refresh" aria-hidden="true"></i>
    </a>    
    <a id="change-edit" href="#change-edit" data-id="{{ invoice.id }}"
       style="padding: 0% 2%;outline: none;text-decoration:none;">
      <i class="fa fa-2x fa-pencil" aria-hidden="true"></i>
    </a>    
    <a id="change-delete" href="#change-delete" data-id="{{ invoice.id }}"
       data-toggle="confirmation" data-container="body">
      <i class="fa fa-2x fa-trash" aria-hidden="true"></i>
    </a>    
  </div>
  <div class="status progress">
  </div>
</div>
<div class="invoice-content section-content">
  <div class="menu-information">
    <div class="invoice-information list-group">
      <span href="#" class="list-group-item active">
	Invoice
	<span class="pull-right" id="slide-submenu">
          <i class="fa fa-fw fa-book" aria-hidden="true"></i>
	</span>
      </span>
      <span href="#" class="list-group-item" style="text-align: center">
	{{ invoice.issued_on }}
      </span>
    </div>
    <div class="invoice-menu list-group nav nav-tabs" data-tabs="tabs">
      <span href="#" class="list-group-item active">    
	Menu
	<span class="pull-right" id="slide-submenu">
          <i class="fa fa-fw fa-bars" aria-hidden="true"></i>
	</span>
      </span>
      <a href="#invoice-details" data-toggle="tab" class="list-group-item">
	<i class="fa fa-fw fa-sliders" aria-hidden="true"></i>
	Details
      </a>
      <a href="#invoice-calendar" data-toggle="tab" class="list-group-item">
	<i class="fa fa-fw fa-calendar" aria-hidden="true"></i>
	Calendar
      </a>
      <a href="#invoice-changes" data-toggle="tab" class="list-group-item">
	<i class="fa fa-fw fa-tasks" aria-hidden="true"></i>
	Changes
      </a>
    </div>
  </div>
  <div class="invoice-tab-content tab-content">
    <div id="invoice-details" class="tab-subcontent tab-pane fade in active">

      <div class="invoice-box" id="section-to-print">
        <table cellpadding="0" cellspacing="0">
          <tr class="top">
            <td colspan="2">
              <table>
                <tr>
                  <td class="title">
                    <img src="/pichai/static/img/customers/logo.evguine.png" 
			 style="width:100px;height:100px;float:left;">
                  </td>        
                  <td>
                    Invoice: #{{ invoice.id }}
		    <br>
                    Created: {{ dformat(invoice.issued_on, "%B %d, %y") }}
		    <br>
                    Due: February 1, 2015
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <tr class="information">
            <td colspan="2">
              <table>
                <tr>
                  <td>
                    Next Step Webs, Inc.<br>
                    12345 Sunny Road<br>
                    Sunnyville, TX 12345
                  </td>
                  <td>
                    Acme Corp.<br>
                    John Doe<br>
                    john@example.com
                  </td>
                </tr>
              </table>
            </td>
          </tr>                             
          <tr class="heading">
            <td style="text-align:center">Date</td>
            <td>Item</td>
            <td>Rate</td>
          </tr>
          {% for item in invoice.changes %}	  
          <tr class="item">
            <td style="text-align:center">
	      {{ dformat(item.mw_start) }}
	    </td>
            <td>{{ item.title }}</td>
	    <td>
	      <i class="fa fa-fw {{ item.rate['currency']['icon'] }}"
		 aria-hidden="true"></i>
	      {{ item.rate['cost'] }}
	      ( {{ item.rate['currency']['name'] }} )
	    </td>
          </tr>
	  {% endfor %}
          <tr class="heading">
            <td></td>
            <td></td>
            <td>Total</td>
          </tr>
        </table>
      </div>

    </div>
    <div id="invoice-calendar" class="tab-subcontent tab-pane fade in">
      <div id="invoice-calendar-item"></div>
    </div>
    <div id="invoice-changes" class="tab-subcontent tab-pane fade in">
      <div id="invchg-toolbar">
	<button class="btn btn-primary" type="button" data-toggle="modal"
		data-target="#ModalChange"
		aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-fw fa-plus"></i>
	</button>
      </div>
      <table id="invchg-table"
             data-show-toggle="false" data-show-export="false"
             data-show-columns="true" data-show-multi-sort="true"
             data-sort-name="id" data-pagination="true"
             data-toggle="table" data-search="true"
             data-show-footer="false" data-page-size="50"
             data-escape="false" data-side-pagination="server"
	     data-query-params="InvChgParams" 
	     data-show-refresh="true" data-show-header="true"
	     data-url="{{ url_for('api_changes_all') }}?"
	     data-response-handler="InvChgResponseHandler"
	     data-toolbar="#invchg-toolbar"
	     data-reorderable-columns="true"
	     class="table table-striped">
	<thead>
	  <tr>
	    <th data-field="select" data-checkbox="true">
	      <i class="fa fa-fw fa-question"></i>
	      Select
	    </th>
	    <th data-field="id" data-align="center" title="ID"
		data-sortable="true" data-valign="middle" 
		data-formatter="ChangesFormatterID">
	      #
	    </th>
            <th data-field="reference" data-align="center" 
		data-valign="middle" data-sortable="true">
              <i class="fa fa-link fa-fw"></i>
              Reference
            </th>
            <th data-field="version" data-align="center" 
		data-valign="middle" data-sortable="true"
		data-visible="false">
              <i class="fa fa-files-o fa-fw"></i>
              Version
            </th>
            <th data-field="status" data-valign="middle" 
		data-align="center" data-sortable="true">
              <i class="fa fa-info fa-fw"></i>
              Status
            </th>
            <th data-field="priority" data-valign="middle"
		data-align="center" data-sortable="true">
              <i class="fa fa-bolt fa-fw"></i>
              Priority
            </th>
            <th data-field="title" data-valign="middle"
		data-sortable="false" data-formatter="ChangesFormatterTitle">
              <i class="fa fa-sort-amount-desc fa-fw"></i>
              Title
            </th>
            <th data-field="mw_start" data-align="center" 
		data-valign="middle" data-sortable="true"
		data-visible="false" data-formatter="ChangesFormatterDate">
              <i class="fa fa-calendar fa-fw"></i>
              Start
            </th>
            <th data-field="mw_end" data-align="center" 
		data-valign="middle" data-sortable="true"
		data-visible="false" data-formatter="ChangesFormatterDate">
              <i class="fa fa-calendar fa-fw"></i>
              Due
            </th>
            <th data-field="updated_on" data-align="center" 
		data-valign="middle" data-sortable="true"
		data-formatter="ChangesFormatterDate">
              <i class="fa fa-calendar fa-fw"></i>
              Updated
            </th>
	  </tr>
	</thead>
	<tbody>
	</tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<link href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.2.0/fullcalendar.css" rel="stylesheet">
<link href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.css" rel="stylesheet">
<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.2.0/fullcalendar.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.js"></script>
<script src="/pichai/static/extras/bootstrap-confirmation/js/bootstrap-confirmation.min.js"></script>
<script src="/pichai/static/extras/jQuery.printElement/master/js/jquery.printelement.min.js"></script>
<script>
    $(document).ready(function () {
	var calendar = '#invoice-calendar-item';
	$(calendar).fullCalendar({
	    height: calendar_height(calendar),
	    header: {
		left: 'prev,next today',
		center: 'title',
		right: 'month,agendaWeek,agendaDay,listYear'
	    },
	    defaultView: 'month',
	    firstDay: 0,
	    aspectRatio: 2,
	    businessHours: {
		dow: [ 1, 2, 3, 4, 5 ],
		start: '07:00',
		end: '17:00',
	    },
	    windowResize: function(view) {
		$(this).fullCalendar('option', 
				     'height',
				     calendar_height(calendar));
	    },
	    events: function(start, end, timezone, callback) {
		$.ajax({
		    url: "{{url_for('api_calendar_teams') }}?id={{ invoice.customer.id }}",
		    dataType: 'json',
		    data: {
			start: start.format("YYYY-MM-DD"),
			end: end.format("YYYY-MM-DD"),
		    },
		    success: function(e) {
			var events = [];
			var data = e['data'];
			for(c in data['changes']) {
			    events.push({
				id: data['changes'][c].id,
				title: data['changes'][c].number,
				start: Date.parse(data['changes'][c].mw_start),
				end: Date.parse(data['changes'][c].mw_end),
				url: "{{ url_for('changes') }}/" + data['changes'][c].id,
				color: '#FFB347', // #FFB347 #77DD77 #AEC6CF
			    });
			};
			for(c in data['meetings']) {
			    events.push({
				id: data['meetings'][c].id,
				title: data['meetings'][c].number,
				start: Date.parse(data['meetings'][c].start),
				end: Date.parse(data['meetings'][c].end),
				url: "{{ url_for('changes') }}/" + data['meetings'][c].id,
				color: '#3a87ad',
			    });
			};
			callback(events);
		    }
		});
	    },
	    timeFormat: 'HH:mm A',
	    eventMouseover: function (data, event, view) {
		dateformat = "YYYY/MM/DD hh:mm A [( ]z[ )]";
		tooltip ='<div class="tooltiptopicevent"';
                tooltip+='style="width:auto;height:auto;background:black;color: #fff;';
                tooltip+='position:absolute;z-index:10001;border-radius: 6px;opacity:0.8;';
                tooltip+='padding:1%;line-height: 200%;">';
		tooltip+='title: ' + data.title + '</br>';
		tooltip+='start: ' + data.start.format(dateformat)+'</br>';
		tooltip+='end: ' + data.end.format(dateformat) + '</br>';
		tooltip+='----------';
		tooltip+='----------';
		tooltip+='</div>';
		$("body").append(tooltip);
		$(this).mouseover(function (e) {
                    $(this).css('z-index', 10000);
                    $('.tooltiptopicevent').fadeIn('500');
                    $('.tooltiptopicevent').fadeTo('10', 1.9);
		}).mousemove(function (e) {
                    $('.tooltiptopicevent').css('top', e.pageY + 10);
                    $('.tooltiptopicevent').css('left', e.pageX + 5);
		});
		
		
            },
            eventMouseout: function (data, event, view) {
		$(this).css('z-index', 8);	
		$('.tooltiptopicevent').remove();
		
            },
	});
	$('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
            $(calendar).fullCalendar('render');
            autosize_tables();
	});
	$(window).resize(function () {
            autosize_tables();
	});
	$('.modal').on('hidden.bs.modal', function(){
            $('.modal').find('.modal-title').html('New');
            var forms = $(this).find('form');
            forms.each(function(row){
		forms[row].reset();
            });
            var selectpickers = $(this).find('.selectpicker');
            selectpickers.each(function(row){
		$(selectpickers[row]).selectpicker('refresh');
            });
	});
	autosize_tables();
	jqlisteners();
    });
{% include "js/common.js" %}
{% include "js/change.js" %}
{% include "js/invoice.js" %}
function jqlisteners() {
    jqlisteners_invoice();
}
</script>
{% endblock %}
