{% extends "base.html" %}

{% block title %}
Profile - {{ 'Me' if user.id == session.user.id else user.displayname }}
{% endblock %}

{% block body %}
<div class="profile-header section-header">
  <div class="title">
    <i class="fa fa-fw fa-user" aria-hidden="true"></i>
    Profile: {{ user.displayname }}
  </div>
  <div class="progress disabled"></div>
</div>
<div class="profile-content section-content">
  <div class="menu-information">
    <div class="profile-information list-group">
      <span href="#" class="list-group-item active">
	Information
	<span class="pull-right" id="slide-submenu">
          <i class="fa fa-fw fa-info" aria-hidden="true"></i>
	</span>
      </span>
      <a href="{{ url_for('profile', userid=user.id )}}"
	 class="list-group-item" style="text-align: center">
	<img class="img-circle fa" src="{{ user.avatar }}"/>
	{{ user.displayname }}
      </a>
    </div>
    <div class="profile-menu list-group nav nav-tabs" data-tabs="tabs">
      <span href="#" class="list-group-item active">    
	Menu
	<span class="pull-right" id="slide-submenu">
          <i class="fa fa-fw fa-bars" aria-hidden="true"></i>
	</span>
      </span>
      <a href="#profile-details" data-toggle="tab" class="list-group-item">
	<i class="fa fa-fw fa-sliders" aria-hidden="true"></i>
	Details
      </a>
      <a href="#profile-reports" data-toggle="tab" class="list-group-item disabled">
	<i class="fa fa-fw fa-pie-chart" aria-hidden="true"></i>
	Reports
      </a>
      <a href="#profile-calendar" data-toggle="tab" class="list-group-item">
	<i class="fa fa-fw fa-calendar" aria-hidden="true"></i>
	Calendar
      </a>
      <a href="#profile-changes" data-toggle="tab" class="list-group-item">
	<i class="fa fa-fw fa-tasks" aria-hidden="true"></i>
	Changes
      </a>
      <a href="#profile-projects" data-toggle="tab" class="list-group-item">
	<i class="fa fa-fw fa-briefcase" aria-hidden="true"></i>
	Projects
      </a>
    </div>
  </div>
  <div class="profile-tab-content tab-content">
    <div id="profile-details" class="tab-subcontent tab-pane fade in active">
      <div class="section-details">
	{% if user.team %}
	<div class="team-information list-group">
	  <span href="#" class="list-group-item active">    
	    Team
	    <span class="pull-right" id="slide-submenu">
              <i class="fa fa-fw fa-group" aria-hidden="true"></i>
	    </span>
	  </span>
	  <a href="{{ url_for('teams', tid=user.team.id )}}"
	     class="list-group-item" style="text-align: center">
	    <img class="img-circle fa" src="{{ user.team.avatar }}"/>
	    {{ user.team.name }}
	  </a>      
	</div>
	<div id="team-manager" class="list-group">
	  <span href="#" class="list-group-item active">    
	    Manager
	    <span class="pull-right" id="slide-submenu">
              <i class="fa fa-fw fa-user" aria-hidden="true"></i>
	    </span>
	  </span>
	  <a href="{{ url_for('profile', userid=user.team.manager.id) }}"
	     class="list-group-item">
	    <img class="fa fa-fw img-circle" src="{{ user.team.manager.avatar }}" 
		 alt="{{ user.team.manager.displayname }}"
		 style="width: 25% !important;padding: 0% 3%;"/>
	    <div class="manager-information" 
		 style="width:75% !important;left:25%;top:50%;position:absolute;
			transform:translateY(-50%);padding:0% 5%">
	      <p class="manager-name" style="margin:auto">
		{{ user.team.manager.displayname }}
	      </p>
	    </div>
	  </a>
	</div>
	{% endif %}
	{% if user.teams_manager %}
	<div id="team-leaders" class="list-group">
	  <span href="#" class="list-group-item active">    
	    Manager of
	    <span class="pull-right" id="slide-submenu">
              <i class="fa fa-fw fa-user" aria-hidden="true"></i>
	    </span>
	  </span>
	  {% for team in user.teams_manager %}
	  <a href="{{ url_for('teams', tid=team.id) }}"
	     class="list-group-item">
	    <img class="fa fa-fw img-circle" src="{{ team.avatar }}" 
		 alt="{{ team.name }}"
		 style="width: 25% !important;padding: 0% 3%;"/>
	    <div class="team-information" 
		 style="width:75% !important;left:25%;top:50%;position:absolute;
			transform:translateY(-50%);padding:0% 5%">
	      <p class="team-name" style="margin:0px">
		{{ team.name }}
	      </p>
	      <p class="team-members" style="margin:0px;">
		<em>{{ team.members.count() }} Members</em>
	      </p>
	    </div>
	  </a>
	  {% endfor %}
	</div>
	{% endif%}
      </div>
      <div class="feeds">
      </div>
    </div>
    <div id="profile-reports" class="tab-subcontent tab-pane fade in">
    </div>
    <div id="profile-calendar" class="tab-subcontent tab-pane fade in">
      <div id="profile-calendar-item"></div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<link href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.2.0/fullcalendar.css" rel="stylesheet">
<link href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.css" rel="stylesheet">
<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.2.0/fullcalendar.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.js"></script>
<script>
    $(document).ready(function () {
	var calendar = '#profile-calendar-item';
	$(calendar).fullCalendar({
	    height: calendar_height(calendar),
	    header: {
		left: 'prev,next today',
		center: 'title',
		right: 'month,agendaWeek,agendaDay,listYear'
	    },
	    defaultView: 'month',
	    firstDay: 0,
	    aspectRatio: 2,
	    businessHours: {
		dow: [ 1, 2, 3, 4, 5 ],
		start: '07:00',
		end: '17:00',
	    },
	    windowResize: function(view) {
		$(this).fullCalendar('option', 
				     'height',
				     calendar_height(calendar));
	    },
	    events: function(start, end, timezone, callback) {
		$.ajax({
		    url: "{{url_for('api_calendar_users') }}?id={{ user.id }}",
		    dataType: 'json',
		    data: {
			start: start.format("YYYY-MM-DD"),
			end: end.format("YYYY-MM-DD"),
		    },
		    success: function(e) {
			var events = [];
			var data = e['data'];
			for(c in data['changes']) {
			    events.push({
				id: data['changes'][c].id,
				title: data['changes'][c].number,
				start: Date.parse(data['changes'][c].mw_start),
				end: Date.parse(data['changes'][c].mw_end),
				url: "{{ url_for('changes') }}/" + data['changes'][c].id,
				color: '#FFB347', // #FFB347 #77DD77 #AEC6CF
			    });
			};
			for(c in data['meetings']) {
			    events.push({
				id: data['meetings'][c].id,
				title: data['meetings'][c].number,
				start: Date.parse(data['meetings'][c].start),
				end: Date.parse(data['meetings'][c].end),
				url: "{{ url_for('changes') }}/" + data['meetings'][c].id,
				color: '#3a87ad',
			    });
			};
			callback(events);
		    }
		});
	    },
	    timeFormat: 'HH:mm A',
	    eventMouseover: function (data, event, view) {
		dateformat = "YYYY/MM/DD hh:mm A [( ]z[ )]";
		tooltip ='<div class="tooltiptopicevent"';
                tooltip+='style="width:auto;height:auto;background:black;color: #fff;';
                tooltip+='position:absolute;z-index:10001;border-radius: 6px;opacity:0.8;';
                tooltip+='padding:1%;line-height: 200%;">';
		tooltip+='title: ' + data.title + '</br>';
		tooltip+='start: ' + data.start.format(dateformat)+'</br>';
		tooltip+='end: ' + data.end.format(dateformat) + '</br>';
		tooltip+='----------';
		tooltip+='----------';
		tooltip+='</div>';
		$("body").append(tooltip);
		$(this).mouseover(function (e) {
                    $(this).css('z-index', 10000);
                    $('.tooltiptopicevent').fadeIn('500');
                    $('.tooltiptopicevent').fadeTo('10', 1.9);
		}).mousemove(function (e) {
                    $('.tooltiptopicevent').css('top', e.pageY + 10);
                    $('.tooltiptopicevent').css('left', e.pageX + 5);
		});
		
		
            },
            eventMouseout: function (data, event, view) {
		$(this).css('z-index', 8);	
		$('.tooltiptopicevent').remove();
		
            },
	});
	$('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
            $(calendar).fullCalendar('render');
            autosize_tables();
	});
	$(window).resize(function () {
            autosize_tables();
	});
	$('.modal').on('hidden.bs.modal', function(){
            $('.modal').find('.modal-title').html('New');
            var forms = $(this).find('form');
            forms.each(function(row){
		forms[row].reset();
            });
            var selectpickers = $(this).find('.selectpicker');
            selectpickers.each(function(row){
		$(selectpickers[row]).selectpicker('refresh');
            });
	});
	autosize_tables();
	// jqlisteners();
    });
function rowStyle(row, index) {
    if ( row['status'] == 'False' ) {
    return {
        css: {"text-decoration": "line-through"}
    };
    } else {
    return {
        css: {"text-decoration": "none"}
    };
    }
}
function autosize_tables() {
    var tables = $('body').find(".table-autosize");
    tables.each(function(row){
    var selector = $(tables[row]).attr('id');
    selector = '#' + selector;
    $(selector).on('post-body.bs.table', function () {
        jqlisteners();
    });
    $(selector).bootstrapTable({
        height: table_height(selector),
    });
    $(selector).bootstrapTable('resetView', {
        height: table_height(selector),
    });    
    });
}
function calendar_height(calendar) {
    var parent = $(calendar).parent();
    return parent.height() * 0.99;
};
function table_height(table) {
    var parent = $(table).parent().parent().parent().parent();
    return parent.height();
};
</script>
{% endblock %}
